@use './vars' as *;
@use 'valaxy/client/styles/mixins/index.scss' as * with (
  $namespace: 'st'
);

:root {
  --un-prose-links: var(--st-c-link);

  @include set-css-var-from-map($common);
  @include set-css-var-from-map($z-index, 'z');
  --field-hero-image: none;
}

:root {
  @include set-css-var-from-map($light);
}

html.dark {
  @include set-css-var-from-map($dark);
}

:root {
  --va-font-family-base:
    var(--st-font-sans), 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --va-c-bg: var(--st-bg-canvas);
  --va-c-bg-soft: var(--st-bg-surface);
  --va-c-bg-mute: var(--st-bg-elevated);
  --va-c-text: var(--st-text-primary);
  --va-c-text-light: var(--st-text-secondary);
  --va-c-text-dark: var(--st-text-primary);
  --va-c-divider: var(--st-border-default);
  --va-c-primary: var(--st-c-brand);
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}
